body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff6ec4,#7873f5);
font-family:Arial;
}

.calculator{
background:#111;
padding:20px;
border-radius:15px;
box-shadow:0 10px 40px rgba(0,0,0,0.5);
}

#display{
width:100%;
height:60px;
font-size:28px;
text-align:right;
padding:10px;
margin-bottom:10px;
border:none;
border-radius:10px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,70px);
gap:10px;
}

button{
height:60px;
border:none;
border-radius:10px;
font-size:20px;
cursor:pointer;
background:#ff9a9e;
}

button:hover{
background:#fad0c4;
}

.equal{
background:#ffd200;
}

.zero{
grid-column:span 2;
}